<mat-card class="todo-item">
  <mat-card-content class="content">
    <div class="checkbox-container">
      <mat-checkbox class="todo-checkbox" [(ngModel)]="todoChecked" (click)="onCheckTodo()">
        <p *ngIf="!isEditing" [class.todo-content-checked]="todoChecked">{{todo.content}}</p>
      </mat-checkbox>
      <mat-form-field *ngIf="isEditing" class="todo-input-field" [formGroup]="todoForm">
        <input matInput placeholder="What do you have to todo?" formControlName="content" class="todo-input">
      </mat-form-field>
    </div>
    <div class="actions">
      <ng-container *ngIf="!isEditing">
        <button mat-button (click)="toggleEditTodo()" class="todo-edit-button">EDIT</button>
        <button mat-button (click)="onDeleteTodo()" class="todo-delete-button">DELETE</button>
      </ng-container>
      <ng-container *ngIf="isEditing">
        <button mat-button (click)="toggleEditTodo()" class="todo-cancel-button">CANCEL</button>
        <button mat-button (click)="onSaveTodo()" class="todo-save-button">SAVE</button>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
